* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

.container {
	display: flex;
	max-width: 90%;
	margin: 0 auto;
	justify-content: space-evenly;
}
.container div:nth-child(even) {
	background-color: rgb(141, 141, 141);
	min-height: 100vh;
	width: 50%;
	height: auto;
}
.container h1,
label,
input {
	text-align: center;
	display: block;
	margin: 0 auto;
}
.results {
	display: flex;

	flex-wrap: wrap;
}

.results img {
	margin: 30px;
	width: 200px;
	height: 200px;
}
